<ion-card>

  <ion-item>
    <ion-avatar item-left (click)="onProfile()" >
      <img [src]="(user | async)?.photo || 'assets/img/profile.png'" />
    </ion-avatar>
    <h2>{{(user | async)?.username}}</h2>
  </ion-item>

  <ion-card-content>
    <ion-row>
      <ion-col width-90>
        <read-more [text]="item.title" [maxLength]="100"></read-more>
      </ion-col>
      <ion-col>
        <div class="vote-bar">
          <button ion-button clear small icon-only color="dark" (click)="upVote(item)">
            <ion-icon name="arrow-up"></ion-icon>
          </button>
          <h1 ion-text color="dark">{{item.likeCount ? item.likeCount : 0}}</h1>
          <button ion-button clear small icon-only color="dark" (click)="downVote(item)">
            <ion-icon name="arrow-down"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>    
  </ion-card-content>

  <div class="gallery-preview" padding *ngIf="item.photo">
    <img [src]="item.photo" (click)="pressPhoto(item)">
  </div>
  
  <ion-row class="comment-bar">
    <ion-col class="text-left">
      <ion-icon name="ios-chatboxes-outline"></ion-icon>
      <span *ngIf="commentCount > 1">{{commentCount}} comments</span>
      <span *ngIf="commentCount <= 1">{{commentCount}} comment</span>
    </ion-col>
    <ion-col class="text-right">
      <ion-icon name="time-outline"></ion-icon> {{item.createdAt | relativeTime}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="reply">
      <button ion-button icon-left color="dark" small clear (click)="doComment(item)">
          <ion-icon name="ios-text-outline"></ion-icon>
          Reply
      </button>
    </ion-col>
  </ion-row>

</ion-card>
