gallery-card {
    ion-card {
        margin: 12px 0px !important;
        width: 100% !important;
        font-family: "Lato";
    }
    ion-avatar img {
        $avatar-size: 3.2rem;
        max-width: $avatar-size;
        max-height: $avatar-size;
        border-radius: .6rem !important;
    }

    ion-card-content {
        padding-bottom: 0 !important;
        font-family: "Lato";
    }

    .vote-bar {
        position: absolute;
        right: 0.8rem;
        width: 4.8rem;
        margin-top: -4.6rem;

        h4 {
            text-align: center;
            margin-left: -1.6rem;
            font-weight: 600;
            font-size: 1.4rem;
        }
    }

    .gallery-preview img {
        object-fit: cover;
    }

    .comment-bar {
        padding: 0 16px;
        border-top: solid 0.55px #ccc;

        button {
            text-transform: uppercase;
        }
    }
} 
