page-login {
    ion-content {
        background:  #13d069 !important;
        div.fullscreen {
            width: 100% !important;
            height: 100% !important;
            padding: 30px 20px;
        }

        ion-list {
            @media (max-width:320px) {
                margin-top: 20% !important;
            }
            @media (min-width: 321px) and (max-width:375px) {
                margin-top: 30% !important;
            }
            @media (min-width: 376px) and (max-width:414px) {
                margin-top: 35% !important;
            }
        }
        ion-list.list-ios {
            margin: -1px 0 0 0;
        }

        h1.title {
            // font-family: "Lato" !important;
            font-size: 4rem !important;
        }

        p.subtitle {
            color: #FFFFFF !important;
            // font-family: "Lato" !important;
            margin-top: -22px !important;
            margin-bottom: 30%;
        }

        form {
            padding: 1.0rem;
            padding-top: 0rem;
            .title {
                padding: 1.4rem;
                font-weight: 400;
            }
            
            p {
                font-size: 1.4rem;

                a {
                    padding-left: 8px;
                    font-size: 1.6rem;
                }
            }
        }
        ion-item {
            margin-top: 1.2rem !important;
            padding: 0.2rem 0.8rem !important;
            border-radius: 0.8rem !important;

            ion-icon {
                margin: 0 8px !important;
                min-width: 0 !important;
                font-size: 2.4rem;
                color: #aaa !important;
            }
            ion-input .text-input {
                font-size: 1.4rem !important;
                // font-family: "Lato" !important;
            }
        }

        button {
            margin-top: 1.2rem !important;
            border-radius: 0.8rem !important;
        }
    }
}
