page-forgot-password {
    ion-content {
        background:  #13d069 !important;

        form {
            margin-top: calc(10%);
            padding: 2.4rem;

            .title {
                padding: 1.4rem;
                font-weight: 400;
            }
            
            p {
                font-size: 1.4rem;

                a {
                    padding-left: 8px;
                    font-size: 1.6rem;
                }
            }
        }
        ion-list {

            ion-item {
                margin-top: 1.2rem !important;
                padding: 0.2rem 0.8rem !important;
                border-radius: 0.8rem !important;

                ion-icon {
                    margin: 0 8px !important;
                    min-width: 0 !important;
                    font-size: 2.4rem;
                    color: #aaa !important;
                }
                ion-input .text-input {
                    font-size: 1.4rem !important;
                }
            }
            ion-item.logo {
                background: transparent;
                padding: 0rem !important;
                text-align: center;
                // font-family: "Lato";
                color: #E0E0E0;
                font-size: 1.4rem;
                h2 {
                    font-size: 2.4rem;
                }
            }
            a.underline {
                color: #FFFFFF !important;
                // font-family: "Lato";
                font-weight: 400 !important;
                text-decoration: underline;
            }

        }

        button {
            margin-top: 1.6rem !important;
            border-radius: 0.8rem !important;
        }

        .profile {
            text-align: center;

            img {
                max-width: 120px;
            }
        }
        
    }
}
