page-tab-profile {
    ion-content {
        background: #edf3f7 !important;
        font-family: "Lato";

        .overview {
            background-image: url('../assets/img/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 108px; 

            h3 {
                margin: 0 !important;
                padding-top: 48px;
                font-weight: 400;
            }
        }

        .bio {
            width: 100%;
            margin: 12px 0 !important;

            button {
                position: absolute;
                right: 8px;
            }
        }
    }
}
