page-change-profile-picture {
    ion-list {
        text-align: center;
        img {
            object-fit: cover;
            overflow: hidden;
            border-radius: 8px;
            width: 120px;
            height: 120px;
        }
    }
}
