<ion-header>

  <ion-navbar color="secondary">
    <ion-searchbar></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="doCancel()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
      <ion-segment color="secondary" [(ngModel)]="side">
          <ion-segment-button (ionSelect)="onSegmentSelected('people')" value="people">People
          </ion-segment-button>
          <ion-segment-button (ionSelect)="onSegmentSelected('post')" value="post">Post
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <gallery-list *ngIf="side=='post'"></gallery-list>
  <user-list [eventName]="'people'" *ngIf="side=='people'"></user-list>
</ion-content>
