page-game-management {
    ion-list {
        margin-top: 30% !important;
        ion-item {
            margin-top: 30px;
            margin-bottom: 30px;
            button {
                padding: 20px !important;
            }
        }
    }
}
