page-welcome {
    ion-content {
        background:  #13d069 !important;
        ion-list {
            @media (max-width:320px) {
                margin-top: 25% !important;
            }
            @media (min-width: 321px) and (max-width:375px) {
                margin-top: 35% !important;
            }
            @media (min-width: 376px) and (max-width:414px) {
                margin-top: 40% !important;
            }
        }

        button.signup {
            margin-top: 40px;
            margin-bottom: 10px;
            background: white;
            color: #13d069;
            align-content: center;
        }

        h1.title {
            font-family: "Lato" !important;
            font-size: 4rem !important;
        }

        p.subtitle {
            color: #FFFFFF !important;
            font-family: "Lato" !important;
            margin-top: -12px;
            margin-bottom: 40%;
        }

        ion-row.privacy {
            padding-top: 14px;
            color: #E9E9E9;
            font-family: "Lato";
        }

        a.privacy {
            color: #FFFFFF !important;
            font-family: "Lato";
            font-weight: 400 !important;
            text-decoration: underline;
        }
    }
}
